{
  "extends": ["plugin:@typescript-eslint/recommended"],
  "rules": {
    "arrow-body-style": "off",
    "import/extensions": "off"
  },
  "env": {
    "mocha": true,
    "node": true,
    "browser": true
  }
}
